<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815333512014-15v8gt4uujdf8a6hlc1n3hhiia9fmr9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815333512014-15v8gt4uujdf8a6hlc1n3hhiia9fmr9a</string>
	<key>API_KEY</key>
	<string>AIzaSyBR05r2dDHHeHrihQkJ4ANjnsUJaRtT1Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>815333512014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventopackage.eventoPackage</string>
	<key>PROJECT_ID</key>
	<string>eventopackage-d225d</string>
	<key>STORAGE_BUCKET</key>
	<string>eventopackage-d225d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815333512014:ios:63420015c1dcd156b3441f</string>
</dict>
</plist>